<a href="https://colab.research.google.com/github/austin0107/Coputational-Thinking/blob/master/%E7%B0%A1%E4%BD%91%E7%AB%B9Week-10-3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [31]:
seat_number = int(input('Enter the seat_number '))
import math
group = math.ceil(seat_number/5) #小數點後無條件進位
print('Number',seat_number,'is in group',group)

Enter the seat_number 19
Number 19 is in group 4

In [30]:
seat_number = int(input('Enter your seat number '))
seat_number1 = seat_number+2
group = round(seat_number1/5)
print('Number',seat_number,'is in group',group)

Enter your seat number 19
Number 19 is in group 4